@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-cover-gradient {
  height: 85vh;
  background-image: linear-gradient(
    to right,
    rgb(0 0 0 / 0.5),
    rgb(0 0 0 / 0.6)
  );
}

.golden {
  color: #cbb26a;
}

.truncate {
  display: -webkit-box;
  white-space: wrap;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}
